	body{
		margin:1em auto;
		max-width:45em;
		padding: 1em;
		font:1.2em/1.62 monospace;
	}
    code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 10px;
    }
    img{
        width: 90%;
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        text-decoration: none;
        color: #2257a0;
    }
    .list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        width: 100%;
		max-width:45em;
    }
    li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-align: center;
    }
    .list li a:hover{
        background-color: #2257a0;
    }
    .navbar {
        position: fixed;
        top: 0;
    }
    .navbar li{
        float: left;
    }
